.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #E4EBF2;
    max-height: 70px; 
    margin: 0 auto;
}

.logo {
    margin: 20px;
    font-weight: 700;
    font-family: "Montagu Slab";
    line-height: 30px;
    font-size: 34px;
    overflow: hidden;
}

.navbar-options {
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.navbar-options a {
    height: 40px;
    width: 150px;
    font-family: "Inter",;
    margin: 20px;
    padding: 5px;
    font-size: 18px;
    color: black;
    font-weight: 600;
    transform: scale(1);
    transition: all .5s ease-in;
    text-decoration: none;
}

.navbar-options a:hover{
    cursor: pointer;
    border-radius: 12px;
    transform: scale(1.3);
    color: #4CAF4F;
}

.loginAndSignUp {
    display: flex;
    margin-right: 40px;
    gap: 14px;
    top: 22px;
    left: 1100px;
}

.login {
    font-family: "Inter" ,;
    background-color: #F5F7FA;
    margin-top: 15px;
    width: 77px;
    height: 40px;
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #4CAF4F;
    line-height: 20px;
    font-weight: 600;
    border: none;
    transform: scale(1);
}

.login:hover, .signup:hover{
    cursor: pointer;
    transform: scale(1.15);
    transition: all .5s ease-in;
}

.signup {
    font-family: "Inter" ,;
    background-color: #4CAF4F;
    margin-top: 15px;
    width: 77px;
    height: 40px;
    border-radius: 6px;
    text-align: center;
    font-size: 14px;
    color: white;
    line-height: 20px;
    font-weight: 600;
    border: none;
}
